<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/plugins/layui/css/layui.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- 头部查询区域 -->
<div style="margin: 10px 0 0 10px">
    用户名：
    <div class="layui-inline">
        <input id="searchUsername" type="text" name="username" class="layui-input"/>
    </div>
    <input type="button" id="searchBtn" class="layui-btn" value="查询"/>
    <input type="button" id="addBtn" class="layui-btn" value="新增"/>
</div>
<table id="userTable" lay-filter="userTable1"></table>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/resources/js/user.js"></script>
<script type="text/html" id="addUserTemplate">
    <form class="layui-form" action="" style="padding: 20px" id="userForm" lay-filter="userForm">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="number" name="age" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input type="date" name="birthday" id="birthday" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" checked>
                <input type="radio" name="sex" value="2" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input id="saveBtn" type="button" value="保存" class="layui-btn">
            </div>
        </div>
    </form>
</script>
<!-- 表格操作工具条模版 -->
<script id="operateTemplate" type="text/html">
    <input type="button" value="绑定角色" lay-event="role" class="layui-btn layui-btn-xs"/>
    <input type="button" value="编辑" lay-event="edit" class="layui-btn layui-btn-xs"/>
    <input type="button" value="删除" lay-event="del" class="layui-btn layui-btn-xs layui-btn-danger"/>
</script>
<!--
双括号会被解析为thymeleaf模板
方法一：html标签添加th:inline="none"
方法二：使用src引入
-->
<!--<script type="text/javascript" th:inline="none">-->
<!--    layui.use(['table',],function (){-->
<!--       var table = layui.table;-->
<!--        table.render({-->
<!--            elem: '#userTable' //# + 元素id-->
<!--            // ,height: 312-->
<!--            ,url: '/user/list' //数据接口-->
<!--            ,page: true //开启分页-->
<!--            ,cols: [[ //表头   双括号会被解析为thymeleaf模板-->
<!--                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}-->
<!--                ,{field: 'username', title: '用户名', width:80}-->
<!--                ,{field: 'sex', title: '性别', width:80, sort: true}-->
<!--                ,{field: 'name', title: '姓名', width: 80, sort: true}-->
<!--                ,{field: 'age', title: '年龄', width: 80, sort: true}-->
<!--            ]]-->
<!--        });-->
<!--    });-->
<!--</script>
-->
<script id="userRoleTemplate" type="text/html">
    <form class="layui-form" lay-filter="userRoleForm">
        <div class="layui-form-item">
            <div class="layui-input-block" id="userRoleDiv">
            </div>
        </div>
    </form>
</script>

<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
</body>
</html>