<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定mapper接口：配置类的全限定名-->
<mapper namespace="learn.shixun.shixun1.mapper.UserMapper">
    <select id="selectUser" resultType="learn.shixun.shixun1.entity.User">
        SELECT * from user
        <if test="keyword != null and keyword !=''">
            where instr(username,#{keyword}) >0
        </if>
    </select>
</mapper>
